fastapi==0.110.0
uvicorn==0.28.0
google-api-python-client==2.122.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
mutagen==1.47.0
algoliasearch==3.0.0
firebase-admin==6.5.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
APScheduler==3.10.4
